USE master
GO
DROP DATABASE PetSpaManagement
GO
CREATE DATABASE PetSpaManagement
GO
USE PetSpaManagement
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Table: Role
CREATE TABLE Role (
    id INT IDENTITY(1,1) PRIMARY KEY,
    name VARCHAR(20) NOT NULL
);

-- Table: Voucher
CREATE TABLE Voucher (
    id INT IDENTITY(1,1) PRIMARY KEY,
    name VARCHAR(50) NOT NULL,
	discount int NOT NULL,
    expired DATETIME NOT NULL,
    reach INT NOT NULL,
    status BIT NOT NULL
);

-- Table: Account
CREATE TABLE Account (
    id INT IDENTITY(1,1) PRIMARY KEY,
    name VARCHAR(50) NOT NULL,
    email VARCHAR(100) NOT NULL,
    pass VARCHAR(100) NOT NULL,
    phone VARCHAR(11) NOT NULL,
    status BIT NOT NULL,
    countVoucher INT NOT NULL,
    roleId INT NOT NULL,
    voucherId INT,
    FOREIGN KEY (roleId) REFERENCES Role(id),
    FOREIGN KEY (voucherId) REFERENCES Voucher(id)
);

-- Table: Service
CREATE TABLE Service (
    id INT IDENTITY(1,1) PRIMARY KEY,
    name VARCHAR(50) NOT NULL,
	description VARCHAR(500) NOT NULL,
    duration INT NOT NULL,
    price FLOAT NOT NULL,
    status BIT NOT NULL
);

-- Table: Spot
CREATE TABLE Spot (
    id INT IDENTITY(1,1) PRIMARY KEY,
    name VARCHAR(10) NOT NULL,
    status BIT NOT NULL
);

-- Table: Available
CREATE TABLE Available (
    id INT IDENTITY(1,1) PRIMARY KEY,
    serviceId INT NOT NULL,
    spotId INT NOT NULL,
    FOREIGN KEY (serviceId) REFERENCES Service(id),
    FOREIGN KEY (spotId) REFERENCES Spot(id)
);

-- Table: Booking
CREATE TABLE Booking (
    id INT IDENTITY(1,1) PRIMARY KEY,
    started DATETIME NOT NULL,
    ended DATETIME NOT NULL,
    created DATETIME NOT NULL,
    availableId INT NOT NULL,
    accountId INT NOT NULL,
    status BIT NOT NULL,
    FOREIGN KEY (availableId) REFERENCES Available(id),
    FOREIGN KEY (accountId) REFERENCES Account(id)
);

-- Table: Feedback
CREATE TABLE Feedback (
    id INT IDENTITY(1,1) PRIMARY KEY,
    information VARCHAR(50) NOT NULL,
    status BIT NOT NULL,
    rating INT NOT NULL CHECK (rating BETWEEN 0 AND 5),
    created DATETIME NOT NULL,
    updated DATETIME NOT NULL,
    accId INT NOT NULL,
    serviceId INT NOT NULL,
    FOREIGN KEY (accId) REFERENCES Account(id),
    FOREIGN KEY (serviceId) REFERENCES Service(id)
);

-- Table: Bill
CREATE TABLE Bill (
    id INT IDENTITY(1,1) PRIMARY KEY,
    started DATETIME NOT NULL,
    total FLOAT NOT NULL,
    voucherId INT,
	accId INT NOT NULL,
    FOREIGN KEY (voucherId) REFERENCES Voucher(id),
	FOREIGN KEY (accId) REFERENCES Account(id)

);

-- Table: BillDetailed
CREATE TABLE BillDetailed (
    id INT IDENTITY(1,1) PRIMARY KEY,
    billId INT NOT NULL,
    cost FLOAT NOT NULL,
    bookingId INT NOT NULL,
    FOREIGN KEY (bookingId) REFERENCES Booking(id),
    FOREIGN KEY (billId) REFERENCES Bill(id)
);

-- Insert data into Role
INSERT INTO Role (name) VALUES 
('Admin'),
('Member'),
('Staff');

-- Insert data into Voucher
INSERT INTO Voucher (name, discount, expired, reach, status) VALUES
('10% Off', 10, '2024-12-31', 3, 1),
('20% Off', 20, '2024-07-30', 5, 1),
('50% Off', 50, '2024-07-30', 10, 1);

-- Insert data into Account
UPDATE Account
SET voucherId = 
    CASE
        WHEN countVoucher >= 10 THEN 3
        WHEN countVoucher >= 5 AND countVoucher < 10 THEN 2
        WHEN countVoucher >= 3 AND countVoucher < 5 THEN 1
        ELSE NULL
    END;

-- Insert data into Service


-- Insert data into Spot
INSERT INTO Spot (name, status) VALUES 
('Room 1', 1),
('Room 2', 1),
('Room 3', 1),
('Room 4', 1);

-- Insert data into Available

-- Inserting data for Spot 1
INSERT INTO Available (serviceId, spotId)
SELECT TOP 8 id, 1
FROM Service;

-- Inserting data for Spot 2
INSERT INTO Available (serviceId, spotId)
SELECT TOP 8 id, 2
FROM Service;

-- Inserting data for Spot 3
INSERT INTO Available (serviceId, spotId)
SELECT TOP 8 id, 3
FROM Service;

-- Inserting data for Spot 4
INSERT INTO Available (serviceId, spotId)
SELECT TOP 8 id, 4
FROM Service;


-- Insert data into Feedback

-- Insert data into Bill
INSERT INTO Bill (started, total,accId, voucherId) VALUES
('2024-05-01 09:00:00', 26.99,1, NULL),
('2024-05-02 11:00:00', 47.99,2, NULL),
('2024-05-03 10:00:00', 39.99,3, NULL),
('2024-05-04 13:00:00', 59.99,10, NULL),
('2024-05-05 09:00:00', 14.99,12, NULL),
('2024-05-06 14:00:00', 19.99,12, NULL),
('2024-05-07 11:00:00', 24.99,6, NULL),
('2024-05-08 12:00:00', 29.99,7, NULL);

-- Insert data into BillDetailed
INSERT INTO BillDetailed (billId, cost, bookingId) 
VALUES
  (1, 50.00, 1),
  (1, 30.00, 2),
  (2, 25.00, 3),
  (2, 40.00, 4),
  (3, 35.00, 5),
  (3, 55.00, 6),
  (4, 20.00, 7),
  (4, 45.00, 8),
  (5, 60.00, 9),
  (5, 28.00, 10),
  (6, 38.00, 11),
  (6, 42.00, 12),
  (7, 33.00, 13),
  (7, 52.00, 14),
  (8, 22.00, 15),
  (8, 48.00, 16);
-- Update BillDetailed to match Service price
UPDATE bd
SET bd.cost = s.price
FROM BillDetailed bd
JOIN Booking b ON bd.bookingId = b.id
Join Available a on b.accountId = a.id
JOIN Service s ON a.serviceId = s.id;
-- Update Bill to calculate total based on BillDetailed costs
UPDATE Bill
SET total = (
    SELECT SUM(cost)
    FROM BillDetailed
    WHERE BillDetailed.billId = Bill.id
);

-- Update Bill started column to match the started column of the earliest Booking record associated through BillDetailed
UPDATE Bill
SET started = (
    SELECT MIN(b.started)
    FROM Booking b
    JOIN BillDetailed bd ON b.id = bd.bookingId
    WHERE bd.billId = Bill.id
);
