@page
@model PRN211GroupProject.Pages.ServicePage.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}
<h4>Edit Service</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-6">
        <form method="post" class="bg-light p-4 rounded">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            <input type="hidden" asp-for="Service.Id" />
            <div class="form-group mb-3">
                <label asp-for="Service.Name" class="control-label"></label>
                <input asp-for="Service.Name" class="form-control" />
                <span asp-validation-for="Service.Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Service.Duration" class="control-label"></label>
                <input asp-for="Service.Duration" class="form-control" />
                <span asp-validation-for="Service.Duration" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Service.Price" class="control-label"></label>
                <input asp-for="Service.Price" class="form-control" />
                <span asp-validation-for="Service.Price" class="text-danger"></span>
            </div>
            <div class="form-group form-check mb-3">
                <input class="form-check-input" asp-for="Service.Status" />
                <label class="form-check-label" for="Service_Status">
                    @Html.DisplayNameFor(model => model.Service.Status)
                </label>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mt-3 text-center">
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
