@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}
<main>
    <!-- Hero Area Start -->
    <div class="slider-area2 slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center pt-50">
                        <h2>Error</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-details section-padding30">
        <div class="container">
            <div class="row">
                <div class="offset-xl-1 col-lg-8">
                    <div class="about-details-cap mb-50">
                        <h4> <strong>Request ID:</strong></h4>
                        @if (Model.ShowRequestId)
                        {
                            <p>
                                <code>@Model.RequestId</code>
                            </p>
                        }
                    </div>
                    <div class="about-details-cap mb-50">
                        <h4>
                            An Error occurred.
                        </h4>
                        <p>
                            <strong>@Model.ErrorMessage</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>