@page
@model PRN211GroupProject.Pages.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Your custom CSS -->
    <style>
        /* Your custom styles here */
        body {
            background-color: #f8f8f8;
        }

        .login-container {
            max-width: 400px;
            margin: 100px auto;
            background-color: #fff;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
        }

            .login-container h2 {
                text-align: center;
                margin-bottom: 30px;
                color: #333;
            }

        .login-form input[type="email"],
        .login-form input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        .login-form button {
            width: 100%;
            padding: 10px;
            background-color: #232024;
            border: none;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
        }

            .login-form button:hover {
                background-color: #ff2121;
            }
    </style>
</head>
<body>
    <div class="login-container">
        <h2>
            <div class="logo">
                <a asp-page="/Index"><img src="assets/img/logo/logo.png" alt=""></a>
            </div>
        </h2>
        <form class="login-form" action="Login" method="post">
            <input type="email" id="email" name="email" placeholder="Email" required>
            <input type="password" id="pass" name="pass" placeholder="Password" required>
            <button type="submit" class="btn">Login</button>
        </form>
        <div class="register-link" style="justify-items">
            <p>Don't have an account? <a asp-page="Register">Register here</a></p>
            @if (!string.IsNullOrEmpty(Model.errorMessage))
            {
                <p style="color= red">@Model.errorMessage</p>
            }
        </div>
    </div>
</body>
</html>
