@page
@model PRN211GroupProject.Pages.Services.BathModel
@{
    Layout = "_Layout";

}
    
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="assets/img/logo/logo.png" alt="">
            </div>
        </div>
    </div>
</div>
<main>
    <!-- Hero Area Start -->
    <div class="slider-area2 slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center pt-50">
                        <h2>About Us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End -->
    <!-- About Details Start -->
    <div class="about-details section-padding30">
        <div class="container">
            <div class="row">
                <div class="offset-xl-1 col-lg-8">
                    <div class="about-details-cap mb-50">
                        <h4>Welcome to PetCare</h4>
                        <p>
                            We redefine pet grooming with a luxurious touch. Nestled in the heart of Saigon, our spa is dedicated to providing your beloved pets with an unparalleled grooming experience.
                        </p>
                        <p>
                            At PetCare, we understand that your pets are not just animals but cherished members of your family. That's why we've created a tranquil and safe environment where they can unwind, relax, and receive the pampering they deserve. Our team of experienced groomers are not only passionate about pets but also highly skilled in handling all breeds and temperaments.
                        </p>
                        <p>
                            From soothing baths using premium shampoos to breed-specific haircuts and stylish grooming services, we offer a comprehensive range of treatments tailored to meet the unique needs of your furry friends. Whether your pet requires a simple nail trim or a full spa day package, we ensure every visit is as enjoyable as it is beneficial.

                        </p>
                       
                    </div>

                    <div class="about-details-cap mb-50">
                        <h4>Our Target</h4>
                        <p>
                            At PetCare, our mission is to enhance the well-being of every pet that walks through our doors. We aim to provide a holistic grooming experience that not only caters to their physical needs but also nurtures their emotional and mental health.

                        </p>
                        <p>  
                            Core Values

                            Compassion: We treat every pet with the same love and care we would want for our own furry companions.

                            Quality: We uphold the highest standards in grooming techniques, products, and customer service to ensure excellence in every visit.

                            Safety: Your pet's safety is our top priority. We maintain a clean and secure environment, following strict hygiene protocols and using gentle handling techniques.

                            Customization: Recognizing that each pet is unique, we tailor our services to meet individual needs, preferences, and health requirements.

                            Education: We believe in empowering pet owners with knowledge about grooming, health, and well-being, fostering a lifelong bond between pets and their families.
                        </p>
                    </div>
                    <div class="about-details-cap mb-50">
                        <h4>
                            Why Choose Us?

                        </h4>
                        <p>
                            At PetCare, we go beyond grooming. We provide a sanctuary where pets can relax, rejuvenate, and feel cherished. Whether it's a routine trim or a deluxe spa day, we are committed to delivering a premium experience that leaves tails wagging and owners smiling.

                        </p>
                        <p> 
                            Join us in creating a community where pets thrive, one pampering session at a time. Discover why PetCare is not just a destination but a trusted partner in your pet's happiness and health.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Details End -->

    <!--? Contact form Start -->
    <div class="contact-form-main pb-top">
        <div class="container">
            <div class="row justify-content-md-end">
                <div class="col-xl-7 col-lg-7">
                    <div class="form-wrapper">
                        <!--Section Tittle  -->
                        <div class="form-tittle">
                            <div class="row ">
                                <div class="col-xl-12">
                                    <div class="section-tittle section-tittle2 mb-70">
                                        <h2>World's Leading Law Consultency Agency !</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End Section Tittle  -->
                        <form id="contact-form" action="#" method="POST">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-box user-icon mb-30">
                                        <input type="text" name="name" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-box email-icon mb-30">
                                        <input type="text" name="email" placeholder="Phone">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 mb-30">
                                    <div class="select-itms">
                                        <select name="select" id="select2">
                                            <option value="">Health Law</option>
                                            <option value="">saiful islam</option>
                                            <option value="">Arafath Miya</option>
                                            <option value="">Shakil Miya</option>
                                            <option value="">Tamim Sharker</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-box subject-icon mb-30">
                                        <input type="Email" name="subject" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-box message-icon mb-65">
                                        <textarea name="message" id="message" placeholder="Message"></textarea>
                                    </div>
                                    <div class="submit-info">
                                        <button class="btn submit-btn2" type="submit">Submit Now</button>
                                    </div>
                                </div>
                            </div>
                            <!-- shape-dog -->
                            <div class="shape-dog">
                                <img src="~/assets/img/gallery/shape1.png" alt="">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- contact left Img-->
        <div class="from-left d-none d-lg-block">
            <img src="assets/img/gallery/contact_form.png" alt="">
        </div>
    </div>
    <!-- Contact form End -->
    
    <!--? contact-animal-owner Start -->
    <div class="contact-animal-owner section-bg" data-background="~/assets/img/gallery/section_bg04.png">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="contact_text text-center">
                        <div class="section_title text-center">
                            <h3>Any time you can call us!</h3>
                            <p>Because we know that even the best technology is only as good as the people behind it. 24/7 tech support.</p>
                        </div>
                        <div class="contact_btn d-flex align-items-center justify-content-center">
                            <a href="contact.html" class="btn white-btn">Book Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact-animal-owner End -->
</main>

<!-- Scroll Up -->
<div id="back-top">
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>