@page
@model PRN211GroupProject.Pages.Services.BathModel
@{
    Layout = "_Layout";
    }

    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="~/assets/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <main>
        <!-- Hero Area Start -->
        <div class="slider-area2 slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                            <h2>Bath</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End -->
        <!-- About Details Start -->
        <div class="about-details section-padding30">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-1 col-lg-8">
                        <div class="about-details-cap mb-50">
                            <h4>Bath Service</h4>
                            <p>
                                Treat your beloved furry companion to the ultimate relaxation experience with our Bath Service. <img src="~/img/Service/Bath/e892e01b07370330a7851402dbb20724.jpg" alt="">
                            </p>
                            <p>
                                At Pet Care, we understand that your pet deserves the best, which is why we've crafted a pampering session designed to rejuvenate both body and spirit.
                            </p>
                            <p>
                                Imagine a serene environment filled with soothing scents and gentle sounds, where your pet can unwind under the care of our expert groomers. Our spa bath service begins with a luxurious bath using premium, hypoallergenic shampoos and conditioners tailored to your pet's specific needs. Whether they have sensitive skin or simply crave extra shine, we have the perfect formula to leave their coat feeling soft and looking radiant
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Scroll Up -->
    <div id="back-top">
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>