@page
@model PRN211GroupProject.Pages.Services.EarCleaningModel
@{
    Layout = "_Layout";

}
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="~/assets/img/logo/logo.png" alt="">
            </div>
        </div>
    </div>
</div>
<main>
    <div class="slider-area2 slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center pt-50">
                        <h2>Ear Cleaning</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End -->
    <!-- About Details Start -->
    <div class="about-details section-padding30">
        <div class="container">
            <div class="row">
                <div class="offset-xl-1 col-lg-8">
                    <div class="about-details-cap mb-50">
                        <h4>Ear Cleaning Service</h4>
                        <p>
                            At Pet Care, we understand the importance of maintaining your pet's overall health and well-being, and ear care is a vital part of their grooming routine. Our Ear Cleaning Service is designed to keep your pet's ears clean, healthy, and free from infections, ensuring their comfort and happiness.

                        </p>

                    </div>

                    <div class="about-details-cap mb-50">
                        <h4>  <img src="~/img/Service/EarCleaning/EarCleaning.jpg" alt=""></h4>
                     
                    </div>
                    <div class="about-details-cap mb-50">
                        <p>
                            Keep your pet's ears healthy and clean with our professional Ear Cleaning Service. Schedule an appointment today and give your pet the care they deserve at our Pet Spa.
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</main>

<!-- Scroll Up -->
<div id="back-top">
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>