@page
@model PRN211GroupProject.Pages.Services.HairGroomingModel
@{
    Layout = "_Layout";

}
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="~/assets/img/logo/logo.png" alt="">
            </div>
        </div>
    </div>
</div>
<main>
    <div class="slider-area2 slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center pt-50">
                        <h2>Ear Cleaning</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End -->
    <!-- About Details Start -->
    <div class="about-details section-padding30">
        <div class="container">
            <div class="row">
                <div class="offset-xl-1 col-lg-8">
                    <div class="about-details-cap mb-50">
                            <h4>Hair Grooming Service</h4>
                        <p>
                                At our Pet Spa, we focus on making every pet look and feel their absolute best. When you bring your pet in for hair grooming, we ensure they receive a luxurious and thorough experience. We begin with a soothing bath, using gentle, pet-friendly shampoos and conditioners that leave your pet's coat clean, soft, and shiny. After the bath, we move on to brushing out tangles and loose fur, making sure your pet's coat is smooth and free from knots.
                        </p>

                    </div>

                    <div class="about-details-cap mb-50">
                        <h4>  <img src="~/img/Service/HairGrooming/hairgrooming.jpg" alt=""></h4>

                    </div>
                    <div class="about-details-cap mb-50">
                        <p>
                                Our skilled groomers then provide haircuts and trims, tailored to your pet’s breed and your personal preferences. Whether it's a full haircut or a simple trim, we use the best tools and techniques to achieve the look you desire. For pets that shed a lot, we offer a de-shedding treatment to help manage excess fur and keep your home cleaner.

                            </p>
                            <p>
                                The comfort of your pet is our top priority throughout the grooming process. We strive to create a calm and stress-free environment, so your pet feels relaxed and enjoys their grooming experience. Bring your pet to our spa, and let us help them look and feel their very best.
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<!-- Scroll Up -->
<div id="back-top">
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
