@page
@model PRN211GroupProject.Pages.Services.MassageTherapyModel
@{
    Layout = "_Layout";

}
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="~/assets/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <main>
        <div class="slider-area2 slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                            <h2>Ear Cleaning</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End -->
        <!-- About Details Start -->
        <div class="about-details section-padding30">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-1 col-lg-8">
                        <div class="about-details-cap mb-50">
                        <h4>Massage Therapy Service</h4>
                            <p>
                            At our Pet Spa, we understand that pets, just like humans, can benefit greatly from regular massage therapy. Our Massage Therapy Service is designed to promote relaxation, reduce stress, and improve overall well-being for your furry friend.

                        </p>

                        </div>

                        <div class="about-details-cap mb-50">
                            <h4>  <img src="~/img/Service/MessageTherapy/MessageTherapy.jpg" alt=""></h4>

                        </div>
                        <div class="about-details-cap mb-50">
                            <p>
                            When you bring your pet in for a massage, our trained therapists start by creating a calming atmosphere to help your pet feel at ease. Using gentle and precise techniques, we work to relieve muscle tension and improve circulation. This not only helps with relaxation but also aids in alleviating pain from arthritis, injuries, or other conditions.


                            </p>
                            <p>
                            Massage therapy can also boost your pet’s immune system, improve their flexibility and mobility, and enhance their overall mood. Throughout the session, we pay close attention to your pet’s comfort and reactions, adjusting our techniques to ensure a positive and beneficial experience.
                        </p>
                        <p>
                            Our goal is to provide a soothing and healing experience that leaves your pet feeling relaxed and rejuvenated. Treat your pet to our Massage Therapy Service and let them enjoy the numerous physical and emotional benefits it offers. Schedule an appointment today to give your pet the ultimate spa experience.
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <!-- Scroll Up -->
    <div id="back-top">
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
