@page
@model PRN211GroupProject.Pages.Services.NailTrimmingModel
@{
    Layout = "_Layout";

}
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="~/assets/img/logo/logo.png" alt="">
            </div>
        </div>
    </div>
</div>
<main>
    <div class="slider-area2 slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center pt-50">
                        <h2>Nail Trimming</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End -->
    <!-- About Details Start -->
    <div class="about-details section-padding30">
        <div class="container">
            <div class="row">
                <div class="offset-xl-1 col-lg-8">
                    <div class="about-details-cap mb-50">
                        <h4>Massage Therapy Service</h4>
                        <p>
                            At our Pet Spa, we know that keeping your pet's nails trimmed is essential for their health and comfort. Our Nail Trimming Service ensures your furry friend's nails are maintained at a proper length, preventing discomfort and potential injuries.


                        </p>

                    </div>

                    <div class="about-details-cap mb-50">
                        <h4>  <img src="~/img/Service/NailTrimming/nailtrimming.jpg" alt=""></h4>

                    </div>
                    <div class="about-details-cap mb-50">
                        <p>
                            When you bring your pet in for nail trimming, our experienced groomers handle them with care and precision. We use high-quality, pet-safe tools to gently and efficiently trim your pet's nails. By regularly trimming your pet's nails, we help to prevent issues such as split or broken nails, which can be painful and lead to infections.
                        </p>
                        <p>
                            Proper nail length also promotes better posture and mobility, reducing the strain on your pet's joints and improving their overall well-being. Throughout the process, we prioritize your pet’s comfort, making sure they feel safe and relaxed. Our groomers are skilled in calming techniques to ease any anxiety your pet might have during the nail trimming session.

                        </p>
                        <p>
                            Our goal is to provide a soothing and healing experience that leaves your pet feeling relaxed and rejuvenated. Treat your pet to our Massage Therapy Service and let them enjoy the numerous physical and emotional benefits it offers. Schedule an appointment today to give your pet the ultimate spa experience.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<!-- Scroll Up -->
<div id="back-top">
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
