@page
@model PRN211GroupProject.Pages.Services.TeethBrushingModel
@{
    Layout = "_Layout";

}
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="~/assets/img/logo/logo.png" alt="">
            </div>
        </div>
    </div>
</div>
<main>
    <div class="slider-area2 slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center pt-50">
                        <h2>Teeth Brushing</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-details section-padding30">
        <div class="container">
            <div class="row">
                <div class="offset-xl-1 col-lg-8">
                    <div class="about-details-cap mb-50">
                        <h4>Teeth Brushing Service</h4>
                        <p>
                            At our Pet Spa, we understand the importance of maintaining your pet’s dental health. Our Teeth Brushing Service is designed to keep your pet’s teeth clean and their breath fresh, contributing to their overall well-being.

                        </p>

                    </div>

                    <div class="about-details-cap mb-50">
                        <h4>  <img src="~/img/Service/TeethBrushing/teethbrushing.jpg" alt=""></h4>

                    </div>
                    <div class="about-details-cap mb-50">
                        <p>
                            When you bring your pet in for teeth brushing, our groomers use pet-friendly toothpaste and brushes specifically designed for animals. We gently and thoroughly clean your pet's teeth, removing plaque and tartar buildup that can lead to dental issues such as gum disease and tooth decay. Regular teeth brushing not only helps prevent these problems but also improves your pet’s breath, making those close moments more enjoyable.

                        </p>
                        <p>
                            Give your pet the gift of a healthy smile with our Teeth Brushing Service. Schedule an appointment today and keep your furry friend’s teeth sparkling clean and their breath fresh.
                        </p>        
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<!-- Scroll Up -->
<div id="back-top">
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
