@page
@model PRN211GroupProject.Pages.AccountPage.EditModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1>Edit Account</h1>
<hr />
<div class="row justify-content-center">
    <div class="col-md-6">
        <form method="post" class="bg-light p-4 rounded">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            <input type="hidden" asp-for="Account.Id" />
            <div class="form-group mb-3">
                <label asp-for="Account.Name" class="control-label"></label>
                <input asp-for="Account.Name" class="form-control" required />
                <span asp-validation-for="Account.Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Account.Email" class="control-label"></label>
                <input asp-for="Account.Email" class="form-control" required type="email" />
                <span asp-validation-for="Account.Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Account.Pass" class="control-label"></label>
                <input asp-for="Account.Pass" class="form-control" required />
                <span asp-validation-for="Account.Pass" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Account.CountVoucher" class="control-label"></label>
                <input asp-for="Account.CountVoucher" class="form-control" required type="number" />
                <span asp-validation-for="Account.CountVoucher" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Account.Phone" class="control-label"></label>
                <input asp-for="Account.Phone" class="form-control" required />
                <span asp-validation-for="Account.Phone" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Account.RoleId" class="control-label"></label>
                <select asp-for="Account.RoleId" class="form-control" asp-items="ViewBag.rolelist" required></select>
                <span asp-validation-for="Account.RoleId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Account.VoucherId" class="control-label"></label>
                <select asp-for="Account.VoucherId" class="form-control" asp-items="ViewBag.voucherlist" required>
                    <option selected value="null">None</option>
                </select>
                <span asp-validation-for="Account.VoucherId" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mt-3 text-center">
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
