@page
@model PRN211GroupProject.Pages.AccountPage.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<style>
    .form-container {
        margin: 0 auto;
        width: 50%;
        background-color: #ffffff; /* Background color of the form */
        border: 1px solid #ddd; /* Border color */
        border-radius: 10px; /* Rounded corners */
        padding: 20px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Optional: Adds a shadow */
    }

        .form-container h4 {
            text-align: center;
        }
</style>

<div class="form-container">
    <h4>Edit Account</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Account.Id" />

                <div class="form-group">
                    <label asp-for="Account.Name" class="control-label"></label>
                    <input asp-for="Account.Name" class="form-control" required />
                    <span asp-validation-for="Account.Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Account.Email" class="control-label"></label>
                    <input asp-for="Account.Email" class="form-control" required type="email"/>
                    <span asp-validation-for="Account.Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Account.Pass" class="control-label"></label>
                    <input asp-for="Account.Pass" class="form-control" required />
                    <span asp-validation-for="Account.Pass" class="text-danger"></span>
                </div>

                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Account.Status" /> @Html.DisplayNameFor(model => model.Account.Status)
                    </label>
                </div>

                <div class="form-group">
                    <label asp-for="Account.CountVoucher" class="control-label"></label>
                    <input asp-for="Account.CountVoucher" class="form-control" required type="number"/>
                    <span asp-validation-for="Account.CountVoucher" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Account.Phone" class="control-label"></label>
                    <input asp-for="Account.Phone" class="form-control" required />
                    <span asp-validation-for="Account.Phone" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Account.RoleId" class="control-label"></label>
                    <select asp-for="Account.RoleId" class="form-control" asp-items="ViewBag.rolelist" required></select>
                    <span asp-validation-for="Account.RoleId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Account.VoucherId" class="control-label"></label>
                    <select asp-for="Account.VoucherId" class="form-control" asp-items="ViewBag.voucherlist" required>
                        <option selected value="null">None</option>
                    </select>
                    <span asp-validation-for="Account.VoucherId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div class="text-center">
        <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
