@page
@model PRN211GroupProject.Pages.Admin.SpotPage.IndexModel

@{
	ViewData["Title"] = "Index";
	Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<body>
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<div class="d-flex align-items-center">
					<h4 class="card-title">Spots</h4>
				</div>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table id="spots-table" class="display table table-striped table-hover">
						<thead>
							<tr>
								<th>Name</th>
								<th>Status</th>
								<th style="width: 10%">Action</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model.Spots)
							{
								<tr>
									<td>@Html.DisplayFor(modelItem => item.Name)</td>
									<td>
										@if (item.Status)
										{
											<span>Active</span>
										}
										else
										{
											<span>Inactive</span>
										}
									</td>
									<td>
										<div class="form-button-action">
											<a type="button" asp-page="./Edit" asp-route-id="@item.Id" data-bs-toggle="tooltip" title="Edit" class="btn btn-link btn-primary btn-lg">
												<i class="fa fa-edit"></i>
											</a>
											<a type="button" asp-page="./Delete" asp-route-id="@item.Id" data-bs-toggle="tooltip" title="Remove" class="btn btn-link btn-danger btn-lg">
												<i class="fa fa-times"></i>
											</a>
										</div>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<!-- Core JS Files -->
	<script src="~/adminAssets/assets/js/core/jquery-3.7.1.min.js"></script>
	<script src="~/adminAssets/assets/js/core/popper.min.js"></script>
	<script src="~/adminAssets/assets/js/core/bootstrap.min.js"></script>

	<!-- jQuery Scrollbar -->
	<script src="~/adminAssets/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

	<!-- Chart JS -->
	<script src="~/adminAssets/assets/js/plugin/chart.js/chart.min.js"></script>

	<!-- jQuery Sparkline -->
	<script src="~/adminAssets/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

	<!-- Chart Circle -->
	<script src="~/adminAssets/assets/js/plugin/chart-circle/circles.min.js"></script>

	<!-- Datatables -->
	<script src="~/adminAssets/assets/js/plugin/datatables/datatables.min.js"></script>

	<!-- Bootstrap Notify -->
	<script src="~/adminAssets/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

	<!-- jQuery Vector Maps -->
	<script src="~/adminAssets/assets/js/plugin/jsvectormap/jsvectormap.min.js"></script>
	<script src="~/adminAssets/assets/js/plugin/jsvectormap/world.js"></script>

	<!-- Sweet Alert -->
	<script src="~/adminAssets/assets/js/plugin/sweetalert/sweetalert.min.js"></script>

	<!-- Kaiadmin JS -->
	<script src="~/adminAssets/assets/js/kaiadmin.min.js"></script>

	<!-- Kaiadmin DEMO methods, don't include it in your project! -->
	<script src="~/adminAssets/assets/js/setting-demo.js"></script>
	<script src="~/adminAssets/assets/js/demo.js"></script>

	<script>
		$(document).ready(function () {
			$("#spots-table").DataTable({
				pageLength: 5,
			});

			var action = '<td> <div class="form-button-action"> <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

			$("#addRowButton").click(function () {
				$("#spots-table").dataTable().fnAddData([
					$("#addName").val(),
					$("#addPosition").val(),
					$("#addOffice").val(),
					action,
				]);
				$("#addRowModal").modal("hide");
			});
		});
	</script>
</body>
